@{
    ViewBag.TenTrang = "Trang Home";
}
<!DOCTYPE html>
    <html>
    <head>
        <title>...</title>
    </head>
    <body>
    <h1>@ViewBag.TenTrang</h1>
        <p>Noi dung trang</p>
    </body>
    </html>